<!-- ユーザーの検索結果 -->
<h1><%= params[:search] %>の検索結果</h1>

<% @users.each do |user| %>
	<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100', class: 'img-circle profile-thumb my-img edit-img' %>
	<%= user.user_name %>
	<%= user.sex %>
<% end %>