<div class="row about1">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class = "about2">
            <h1 class = "font">概要</h1>
            <p class = "font">このサイトは自分のコーディネートを投稿して、ほかのユーザーとコミュニケーションを取る場所です。</p>
            <p class = "about_font1">～投稿方法～</p>
            <p class = "font">・マイページから"投稿"をクリックして、投稿フォームへ移動してください。</p>
            <p class = "font">・必ずコーディネート画像と本文は入力してください。</p>
            <p class = "font">・ハッシュタグで指定するとほかのユーザーに検索してもらいやすくなります。</p>
            <p class = "font">・コーディネートに使ったアイテムの登録もしましょう。</p>
            <p class = "about_font1">～DMについて～</p>
            <p class = "font">・気になったユーザーがいたらDMを送ってみましょう。</p>
            <p class = "font">・ユーザーのページに行き、"メッセージを送る"をクリックすると、メッセージルームに移動できます。</p>
            <p class = "font">・フォームにメッセージを入力して送信すると会話ができるようになります。</p>
            <p class = "about_font1">～その他～</p>
            <p class = "font">・マイページでは情報の編集が可能です。</p>
            <p class = "font">・アイコンを設定したり、自己紹介文を書いて充実させましょう。</p>
            <p class = "font">パスワード変更など、困ったことがございましたら"xxx@xxx.com"までご連絡をお願いいたします</p>
            <div class = "about3" >
                <p class = "about_font2">m.m.m.管理者</p>
            </div>
      </div>
    </div>
    <div class="col-xs-2"></div>
</div>


