<div class="about1">
  服が好き...</br>
  <br>
  服の話がしたい...</br>
  <br>
  そう思っている人は多くいるのではないでしょうか？</br>
  <br>
  しかし、全てネット上でできる時代。会話がなくなっている現代。</br>
  <br>
  なかなか対面で趣味について話すことは少なくなっているのではないでしょうか？</br>
  <br>
  だからこそネットを活用します。</br>
  <br>
  m.m.m.はあなたのためにあります。</br>
  <br>
  あなた自身のことをもっと発信してほしい。</br>
  <br>
  そう願って名前を付けました。</br>
  <br>
  是非、このサイトを通して服のことを共有してください。</br>
  <br>
  そして、あなた自身楽しんでください。</br>
  <br>
  では...</br>
  <br>
  <%= link_to "～進む～", coordinates_path %>
<div class = "about2">
  <p>m.m.m.管理者</p>
</div>